*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
a{
    text-decoration: none;
    color: black;
}
.padding2{
    padding: 2rem;
}
.heading3{
    color: #666666;
    font-size: 2rem;
}
.button{
    border: none;
    background:linear-gradient(to right,#0067ac,white);
    padding: 0.8rem;
    border-radius: 30px;
    width:50%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2vh 0;
}
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
header h1 span{
    color: #0067ac;
    margin: 2vh 0;
}
header .sub-menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
header .sub-menu img{
    height: 1rem;
}
header .sub-menu span{
    margin-top: 2vh;
}
header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 40%;
    margin-top: 2vh;
}
/*SECTION ONE*/
.one{
    display: flex;
    flex-direction: column;
}
.one .left h1{
    color: #666666;
    font-size: 2rem;
}
.one .left h3{
    font-weight: lighter;
    font-size: 1rem;
}
.one .left .features{
    display: flex;
    align-items: center;
    margin: 2vh 0;
}
.one .left .feature p{
    font-size: 0.7rem;
    margin-left: 1rem;
}
.one .right{
    position: relative;
}
.one .right img{
    width: 50vh;
    height: 25rem;
}
.background{
    position: absolute;
    top:0;
    z-index: -2;
}
.one .right .background{
    right: 0;
}
/*SECTION TWO*/
.two .left{
    position: relative;
}
.two .left img{
    height: auto;
    width: 100%;
}
.two .left .background{
    width: 50%;
    left: 0;
}
.two .right{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*SECTION THREE*/
.three{
    text-align: center;
}
.three .offers .offer img{
    height: auto;
    width: 20%;
    margin: auto;
}
.three .offers .offer{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.three .offers .offer h6{
    font-size: 1rem;
}
/*SECTION FOUR*/
.four{
    text-align: center;
}
.four .foods .food:hover{
    background: #0067ac;
    color: white;
}
.four .foods .food button:hover{
    background: white;
    color: black;
    outline: none;
}
.four .foods{
    margin: 2rem;
}
.four .foods .food{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #666666;
    border-radius: 16px;
    padding: 0.8rem;
}
.four .foods .food img{
    width: 50%;
    height: auto;
}
.four .foods .food button{
    width: 50%;
}
.four .foods .food span{
    color: tomato;
}
.four .foods .food .price{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 4vh;
}
/*SECTION FIVE*/
footer{
    height:60vh;
}
footer .special-offer{
    padding: 2rem;
    text-align: center;
}
footer .special-offer h4{
    font-size: 1.6rem;
}
footer .special-offer .input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .special-offer .input input{
    padding: 0.8rem;
    width: 80%;
    border-radius: 30px;
    border: 1px solid #666666;
}
footer .details{
    background: linear-gradient(to bottom, white,#008cff);
    text-align: center;
}
footer .detail h1{
    padding-top:3vh;
}
footer .detail h1 span{
    color: white;
    margin: 2vh 0;
}
footer .details .detail h3{
    color: white;
}
footer .details .boxes{
    display: grid;
    grid-template-columns: repeat(2.1fr);
}
footer .details .detail ul{
    list-style: none;
}
footer .details .detail ul li{
    margin-top: 1rem;
}
footer .details .detail img{
    height: 2rem;
}
/*Media Queries Section*/
/*For Tablets*/
@media screen and (min-width:700px) {
    header .submenu{
        display: flex;
        flex-direction: row;
    }
    .one .left h1{
        font-size: 3rem;
    }
    .one .left h3{
        font-size: 1.2rem;
        width: 70%;
        line-height: 2rem;
    }
    .one .left button{
        width: 250px;
        margin: 4vh 0;
    }
    .one .left .features{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .one .right img{
        width: 100vh;
        height: 25rem;
    }
    .one .right .foreground{
        max-width: 70%;
        margin-left: 10%;
    }
    .two .left .foreground{
        max-width: 70%;
        margin-left: 10%; 
    }
    .two .left .background{
        width: 30%;
    }
    .three{
        background-image: url(./images/bg1.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .three .offers{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin:5vh 0;
    }
    .four .foods{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:1rem;
    }
    footer .details .boxes{
        grid-template-columns: repeat(4,1fr);
    }
}
/*For Desktops*/
@media screen and (min-width:1200px){
    header{
        display: flex;
        flex-direction: row;
        width: 55%;
        height: 15vh;
        align-items: center;
        margin-left: 2rem;
    }
    .one{
        display: grid;
        grid-template-columns: 40% auto;
        position: relative;
    }
    .one .left .features{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        position: absolute;
        width: 60%;
    }
    .one .right .background{
        position: absolute;
        top:-30%;
        height: 100vh;
        width: auto;
    }
    .two{
        display: grid;
        grid-template-columns: 60% auto;
        height: 100vh;
        align-items: center;
    }
    .three{
        height: 100vh;
        background-size: cover;
    }
    .three .offers{
        width: 70%;
        margin: 5vh auto;
    }
    .four{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
    }
    .four .allButton{
        width: 30%;
        align-self: center;
    }
    .four .foods{
        grid-template-columns: repeat(4,1fr);
    }
    footer{
        position: relative;
        display: grid;
        margin-top: 20vh;
    }
    footer .special-offer{
        width: 75%;
        margin: auto;
        border: 1px solid #666666;
        border-radius: 50px;
        position: absolute;
        top: -30%;
        justify-self: center;
        background-image: url(./images/bg2.png);
        background-size:cover;
        margin: auto;
    }
    footer .special-offer .input{
        display: flex;
        flex-direction: row;
        width: 60%;
        margin-left: 10rem;
    }
    footer .special-offer .input input{
        border: 1px solid #666666;
    }
    footer .details{
        height: 60vh;
        display: grid;
        grid-template-columns: 25% auto;
    }
    footer .detail{
        margin-top: 10rem;
    }
}
